@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #a6193c;
    --secondary: #931937;
    --tertiary: #b82549;
    --text: #191919;
    --text-contrast: #fff;
    --bg: #ffffff;
    --contrast: #f5f5f5;
    --white: #fff;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --primary: #a6193c;
      --secondary: #931937;
      --tertiary: #b82549;
      --text: #191919;
      --text-contrast: #fff;
      --bg: #ffffff;
      --contrast: #f5f5f5;
      --white: #fff;
    }
  }
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: "Inter Variable", sans-serif;
  font-weight: 300;
}